
:host {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 0.5;
  display: block;
  min-width: 400px;
  max-width: 400px;
  height: 100vh;
}

.map-container {
  width:100vw;
  height: 100vh;
}


mat-tab-body {
    width: 400px;
}
