:host {
    margin: 2px;
    vertical-align: baseline;
    
}
.popover {
    padding: 5px;
}

.icon {
    position: relative;
    height: 20px;
    top: 4px;
    font-size: 22px;
    cursor: pointer; 
    cursor: hand;
  }