:host {
  display: flex;
  flex: 1;
  position:relative;
}

.map {
  display:flex;
  flex: 1;
}

.fade {
        transition: display 600ms ease-in-out;
}

.splitter {
  position: absolute;
  height: 100%;
  width: 10px;
  z-index: 100;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

app-landcover-control {
  position: absolute;
  z-index: 10000;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1pt solid gray;
  top: 5px;
  right: 50px;
  padding: -10px;
}


