:host {
  display: flex;
  flex: 1;
  position:relative;
}

.map {
  display:flex;
  flex: 1;
}

.fade {
        transition: display 600ms ease-in-out;
}

.splitter {
  position: absolute;
  pointer-events: auto;
  height: 100%;
  width: 5px;
  z-index: 100;

  background-color: whitesmoke;
  cursor: col-resize;
  overflow: visible;
}

.handle {
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  margin-top: -22px;
  margin-left: -22px;
  border-radius: 52px;
  color: darkgray;
  border: 2pt solid lightgray;
  background-color: whitesmoke;
  cursor: grab;
  transition: scale 0.2s;
  white-space: nowrap;
  text-align: center;

}
mat-icon {
  position: relative;
  left: -12px;
  top: -2px;
}

.handle-active {
  scale: 0.75;
  cursor: grabbing

}



app-landcover-control {
  position: absolute;
  z-index: 10000;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1pt solid gray;
  top: 5px;
  right: 50px;
  padding: -10px;
}


