:host {
  position: absolute;
  margin: 5px;
  right: 25px;
  height: 24px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
  overflow: hidden;

}

.mat-slider-wrapper {
  top: 0px;
}


